*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(37, 37, 37, 0.925);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.logo{
    width: 100px;
    padding: 5px;

}
.item{
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
}

.menui{
    display: flex;
    list-style: none;
}
.item:hover{
    cursor:pointer;
    color: brown;
}
.banner{
    width: 230px;
}
.banner-container{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    align-items: center;
    height: 100vh;
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.tittle{
    font-size: 32px;
    font-weight: bold;
}
.tittle-descr{
    font-size: 12px;
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
    background-color: red;
    color:white;
    padding: 13px 15px;
    border: none;
    border-radius: 5px;
    outline: none;

}
.about-tittle{
    text-align: center;
    padding: 15px;
}
.about-sec-tittle{

}
.about{
    text-align: center;
    padding-top: 20px;
}
.about-containear{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 25px;
}

.box{
    width: 200px;
    height: 280px;
    padding: 15px;
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
}
.box-tittle{
    padding: 10px;
}
.box-btn{
    background-color: #706a6a;
}
.icon{
    width: 70px;
    color: #2e2e2e;
}
.service-container{
    
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding: 50px;
    flex-wrap: wrap;
}
.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}